openapi: 3.0.4
info:
  title: CSV to JSON Converter
  description: >-
    CSV to JSON Converter is a powerful tool for converting CSV data into JSON
    format. It supports custom delimiters, header detection, and handles quoted
    fields properly.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/csvtojson:
    post:
      summary: Convert CSV to JSON
      description: Convert CSV data to JSON format with custom delimiter support
      operationId: csvtojson
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  row_count: 2
                  column_count: 3
                  columns:
                    - name
                    - age
                    - city
                  inferredTypes:
                    name: string
                    age: integer
                    city: string
                  json:
                    - name: John Doe
                      age: '30'
                      city: New York
                    - name: Jane Smith
                      age: '25'
                      city: Los Angeles
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                csv:
                  type: string
                  description: The CSV data to convert to JSON
                delimiter:
                  type: string
                  description: The delimiter used in the CSV
                has_header:
                  type: boolean
                  description: >-
                    Whether the first row contains column headers (default:
                    true)
              required:
                - csv
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  csv: |-
    name,age,city
    John Doe,30,New York
    Jane Smith,25,Los Angeles
  delimiter: ','
  has_header: true
